---
title: "Mentions légales — TOLExperience"
layout: layouts/base.njk
---

<div class="section">
  <h1 class="tol-btitle">Mentions légales</h1>

  <p class="tol-text">
    Conformément aux dispositions de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
  </p>

  <h2 class="tol-btitle">Éditeur du site</h2>
  <p class="tol-text">
    <strong>TOLExperience</strong><br />
    Nom / Responsable légal : Hervé Lelong<br />
    Adresse : [Ton adresse postale]<br />
    Courriel : <a href="mailto:contact@tolexperience.com">contact@tolexperience.com</a><br />
    Téléphone : +33 6 23 07 38 81
  </p>

  <h2 class="tol-btitle">Hébergement</h2>
  <p class="tol-text">
    Ce site est hébergé par :<br />
    [Nom de l’hébergeur (GitHub Pages, OVH, autre)]<br />
    Adresse : [Adresse de l’hébergeur]<br />
    Site web : <a href="https://pages.github.com">https://pages.github.com</a>
  </p>
</div>
